spring:
  application:
    name: melodyhub

  datasource:
    url: jdbc:h2:mem:melodyhub
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    open-in-view: false

  h2:
    console:
      enabled: true

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always
